/*VueEditor*/
.markdown-section h3{
    font-size: 24px;
    font-size: 1.5rem;
    /*margin: 40px 0 9.6px;*/
    /*margin: 40px 0 .6rem;*/
}
.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section strong {
    color: #2c3e50;
    font-weight: 600;
}
.markdown-section ol, .markdown-section ul {
    padding-left: 24px;
    padding-left: 1.5rem;
    border-left: 3px solid #53b9a7;
}
.markdown-section ol, .markdown-section p, .markdown-section ul {
    line-height: 25.6px;
    line-height: 1.6rem;
    word-spacing: .8px;
    word-spacing: .05rem;
}
.markdown-section figure, .markdown-section ol, .markdown-section p, .markdown-section ul {
    margin: 1.2em 0;
    list-style: none;
}
.markdown-section blockquote {
    border-left: 4px solid #42b983;
    border-left: 5px solid #53b9a7;
    /*border-left: 4px solid var(--theme-color, #42b983);*/
    color: #858585;
    margin: 2em 0;
    padding-left: 20px;
}
.ms-doc{
    width:100%;
    max-width: 980px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    color: #48576a;
    font-size: 90%;
}
.ms-doc h3{
    font-size: 22px;
    font-weight: 400;
    /*padding: 9px 10px 10px;*/
    padding: 9px 10px 30px 10px;
    line-height: 17px;
    /*background-color: #f5f5f5;*/
    border: 0px solid #d8d8d8;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
}
.ms-doc article{
    padding: 0 10px 20px;
    word-wrap: break-word;
    background-color: #fff;
    border: 0px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.ms-doc article h1{
    font-size:32px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.ms-doc article h2 {
    border-left: 3px solid #53b9a7;
    margin: 24px 0 16px;
    font-weight: 400;
    line-height: 2;
    padding-bottom: 7px;
    padding-left: 20px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
}
.ms-doc article p{
    margin-bottom: 15px;
    line-height: 2;
    color: #5e6d82;
    /*!*padding-left: 20px;*! */
}
.ms-doc article pre,.ms-doc article table{
    margin-top: 30px;
    line-height: 2;
    font-size: 14px;
    padding-left: 20px;
    background-color: #fafafa;
    border: 1px solid #eaeefb;
    margin-bottom: 25px;
    border-radius: 4px;
    padding:20px;
}
.ms-doc article .el-checkbox{
    margin-bottom: 5px;
}
.ms-doc article table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    border: 0px solid #eaeefb;
    overflow: auto;
    width: 100%;
}
.ms-doc article table tr{
    border-top: 1px solid #ccc;
}
.ms-doc article th {
    border: 1px solid #ddd;
    padding: 6px 13px;
    font-weight: 700;
}
.ms-doc article td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}
body.sticky .sidebar, body.sticky .sidebar-toggle {
    position: fixed;
}
